# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.vite
*.local

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Uploads
public/music/*
!public/music/.gitkeep
!public/music/home.mp3
!public/music/rates.mp3
